<table>
	<tr>
	<% @videos.each do |video| %>
		<% if (@videos.index(video) + 1) % 4 == 0 %>
			<td class="col s1">
				<div class="card-panel hoverable center-align vertical-align"><%= link_to image_tag("#{video.thumbnail_url}"), :controller => "videos", :action => "show", :id => "#{video.id}" %></div>
			</td>
			</tr>
		<% else %>
			<td class="col s1">
				<div class="card-panel hoverable center-align vertical-align"><%= link_to image_tag("#{video.thumbnail_url}"), :controller => "videos", :action => "show", :id => "#{video.id}" %>
			</td>
		<% end %>
	<% end %>
	</tr>
</table>