<div class="video center-align">
	<div class="video-title">
		<p><%= video.title %></p>
	</div>
	<div class="video-content">
		<iframe width="864" height="624" src=<%= video_link %> frameborder="0" allowfullscreen></iframe>
	</div>
</div>

